{% extends 'base_generic.html' %}
{% block content_main %}
    <div class="col-xl-12 col-lg-12">
        <div class="card shadow mb-4">
            <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                <h6 class="m-0 font-weight-bold text-primary">Employee detail</h6>
                  <a href="{% url 'yumminess:employee_list'%}" >
                    Go back
                  </a>

              </div>

            <table class="table">
                <tbody>
                    <tr>
                        <th>First name</th>
                        <td>{{object.first_name}}</td>
                    </tr>
                    <tr>
                        <th>Last Name</th>
                        <td>{{object.last_name}}</td>
                    </tr>
                    <tr>
                        <th>Username</th>
                        <td>{{object.username}}</td>
                    </tr>
                    <tr>
                        <th>Password</th>
                        <td>{{object.password}}</td>
                    </tr>
                    <tr>
                        <th>Email</th>
                        <td>{{object.email}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
{% endblock content_main %}