{% extends 'base_generic.html' %}

{% block content_main %}
    <div class="container-fluid">
        <div class="d-flex justify-content-center">
            <h1 class="h3 mb-0 text-gray-800">
                Welcome !
            </h1>
        </div>

    <div class="row d-flex justify-content-between">

      <div class="w-50 p-3">
        <div class="card shadow mb-4">
          <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
            <h6 class="m-0 font-weight-bold text-primary">Orders of the day</h6>
              <a href="{% url 'yumminess:order_list'%}" >
                All
              </a>

          </div>

          <div class="card-body">
            <div class="chart-area">
              <div class="table-responsive">
                <table class="table table-bordered w-100 p-3">
                  <thead>
                    <tr>
                      <th>Employee</th>
                      <th>Order</th>
                      <th>Date</th>
                      <th>Action</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for single_order in orders %}
                      <tr>
                        <td>{{ single_order.employee }}</td>
                        <td>{{ single_order.menu_option }}</td>
                        <td>{{ single_order.created_at }}</td>
                        <td>
                          <a class="btn btn-primary btn-sm" href="{% url 'yumminess:order_detail' single_order.id %}">Check order</a>
                        </td>
                      </tr>
                    {% endfor %}
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="w-50 p-3">
        <div class="card shadow mb-4">

          <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
            <h6 class="m-0 font-weight-bold text-primary">Options of the day</h6>
            {% if user.is_superuser %}
              <a href="{% url 'yumminess:menu_option_list'%}" >
                All
              </a>
            {% endif %}
          </div>

          <div class="card-body">
            <div class="chart-area">
              <div class="table-responsive">
                <table class="table table-bordered w-100 p-3">
                  <thead>
                    <tr>
                      <th>Name</th>
                      <th>Options</th>
                      <th>Action</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for single_menu in menus %}
                      <tr>
                        <td>{{ single_menu.menu_name }}</td>
                        <td>{{ single_menu.menu_options.all|join:", "}}</td>
                        <td>
                          {% if user.is_superuser %}
                            <a class="btn btn-primary btn-sm" href="{% url 'yumminess:menu_detail' single_menu.id %}">Ver Menu</a>
                          {% else %}
                            <a class="btn btn-primary btn-sm" href="{% url 'yumminess:menu_detail' single_menu.uuid %}">Ver Menu</a>
                          {% endif %}
                          </td>
                      </tr>
                    {% endfor %}
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>

        {% if not user.is_superuser %}
          <div class="row">
            <div class="col-xl-3 col-md-6 mb-4 ">
              <div class="card border-left-primary shadow h-100 py-2">
                <div class="card-body">
                  <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                      <div class="text-xs font-weight-bold text-primary text-uppercase mb-2">Order</div>
                      <a class="btn btn-primary btn-sm" href="{% url 'yumminess:order_create' %}">Create</a>
                    </div>
                    <div class="col-auto">
                      <i class="fas fa-calendar fa-2x text-gray-300"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>

          </div>

    {% endif %}
      </div>
    </div>
  </div>

    {% if user.is_superuser %}
        <div class="row d-flex justify-content-between">
            <div class="card border-left-primary shadow h-100 py-2 w-25 p-3 px-2 ">
              <div class="card-body">
                <div class="row no-gutters align-items-center">
                  <div class="col mr-2 d-flex justify-content-center flex-column align-items-center">
                    <div class="text-xs font-weight-bold text-primary text-uppercase mb-2">Create menu option plate</div>
                    <a class="btn btn-primary btn-sm" href="{% url 'yumminess:menu_option_plate_create' %}">Create</a>
                  </div>
                  <div class="col-auto">
                    <i class="fas fa-calendar fa-2x text-gray-300"></i>
                  </div>
                </div>
              </div>
            </div>

            <div class="card border-left-success shadow h-100 py-2 w-25 p-3 px-2 ">
              <div class="card-body">
                <div class="row no-gutters align-items-center">
                  <div class="col mr-2 d-flex justify-content-center flex-column align-items-center">
                    <div class="text-xs font-weight-bold text-success text-uppercase mb-1">Create Menu</div>
                    <a class="btn btn-primary btn-sm" href="{% url 'yumminess:menu_create' %}">Create</a>

                  </div>
                  <div class="col-auto">
                    <i class="fas fa-dollar-sign fa-2x text-gray-300"></i>
                  </div>
                </div>
              </div>
            </div>

            <div class="card border-left-info shadow h-100 py-2 w-25 p-3 px-2 ">
              <div class="card-body">
                <div class="row no-gutters align-items-center">
                  <div class="col mr-2 d-flex justify-content-center flex-column align-items-center">
                    <div class="text-xs font-weight-bold text-info text-uppercase mb-1">Create Employee</div>
                    <a class="btn btn-primary btn-sm" href="{% url 'yumminess:employee_create' %}">Create</a>

                  </div>
                  <div class="col-auto">
                    <i class="fas fa-clipboard-list fa-2x text-gray-300"></i>
                  </div>
                </div>
              </div>
            </div>


        </div>
    {% endif %}
{% endblock content_main %}