<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
</head>
<body>
    <div class="d-flex justify-content-center align-items-center h-100">
        <div class="d-flex flex-column">
        <h2>Log In</h2>
        <form method="post">
          {% csrf_token %}
           <div class="form-group">
              <input type="text" class="form-control form-control-user" name="username" placeholder="Ingrese usuario">
            </div>
            <div class="form-group">
              <input type="password" class="form-control form-control-user" name="password" placeholder="Contraseña">
            </div>

            <input class="btn btn-primary btn-user btn-block" type="submit" value="Login">
        </form>
        </div>
    </div>
</body>
</html>